#rpl kelas b kelompok 2#
IRCI/IRCI/obj/Debug/s.txt
IRCI/.vs/IRCI/v14/.suo
IRCI/.vs/config/applicationhost.config
IRCI/IRCI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
IRCI/IRCI/bin/IRCI.dll
IRCI/IRCI/bin/IRCI.pdb
IRCI/IRCI/obj/Debug/IRCI.csprojResolveAssemblyReference.cache
IRCI/IRCI/obj/Debug/IRCI.dll
IRCI/IRCI/obj/Debug/IRCI.pdb