@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Indonesian Reasearch Citation Index
                </h2>
                <p>
                    Indonesian Reasearch Citation Index (IRCI) is a freely accessible web search engine that indexes the full text or metadata of scholarly literature across an array of publishing formats and disciplines in Indonesia. 
                    IRCI provides a simple way to broadly search for scholarly literature. From one place, you can search across many disciplines and sources: articles, theses, books, abstracts and court opinions, from academic publishers, professional societies, online repositories, universities and other web sites. 
                    IRCI helps you find relevant work across the world of scholarly research.
                  <!--  This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.-->
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
            <grammarly>
                <div class="_9b5ef6-textarea_btn _9b5ef6-not_focused">
                    <div class="_9b5ef6-transform_wrap">
                        <div class="_9b5ef6-status">
                        </div>
                    </div>
                </div>
            </grammarly>
        </div>
    </div>
</div>