body,
html {
	
	padding-top: 10px;
	
	
}

#container{
	margin-top: 150px;

}

#form-control{
	border-radius: 0px;
}

#alert-danger{
	margin-top: 20px;
	margin-bottom: 0px;
}

#alert-danger1{
	margin-top: 0px;
	margin-bottom: 10px;
}

#glyphicon-remove {
	right: -10px;
	top: -14px;
	font-size: small;
  }

#panel-title {
	color: #fff;
}

#panel-heading {
	background-color: #222;
	border-color: #222;
}

#panel-default {
	border-color: #222;
}

#forgot{
	font-size:13px;
}

#small{
	padding-top: 50px;
}

#panel-default1{
	margin: 0 auto;
}