@{
    ViewBag.Title = "Search results";
    var id_auth = Session["id"];
    var temp_id_auth = "";
}

<h3>Search results</h3>
<p>Your search keyword "@ViewBag.keyword"</p>

@using IRCI.Entity;
@model List<E_Authors>

<div class="row">
    <div class='col col-sm-12' style='padding-top:10px;padding-right:0;'>
        <div class='panel panel1'>

            <table class='table'>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.auth_id != temp_id_auth || item.auth_id == "")
                        {
                            <tr class="author" style="cursor: pointer;">
                                <td rowspan="3" onclick="document.location = '/c_profile/show/@item.id_authors';"> <img src='~/Content/img/user2-160x160.jpg' height='150px' width='150px'></td>
                                <td onclick="document.location = '/c_profile/show/@item.id_authors';"><strong class="name">@item.author</strong></td>
                                @if (id_auth != null)
                                {
                                    if (item.auth_id == id_auth.ToString())
                                    {
                                        //<td rowspan="3"><a href = "/profile/unClaimProfile/?id_authors=@item.id_authors&auth_id=@id_auth.ToString()" ><button type = "button" class="btn btn-xs btn-danger btn-block">Unclaim</button></a></td>
                                    }
                                    else if (item.auth_id == "")
                                    {
                                        <td rowspan="3"><a href="/c_profile/claim/?id_authors=@item.id_authors&auth_id=@id_auth.ToString()"><button type="button" class="btn btn-xs btn-primary btn-block">Claim</button></a></td>
                                    }

                                    else
                                    {

                                    }
                                }
                            </tr>
                            if (item.department.Contains(";"))
                            {
                                string[] departements = item.department.Split(';');
                                foreach (var itemdepart in departements)
                                {
                                    <tr>
                                        <td>@itemdepart</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>@item.department</td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                            </tr>
                        }
                        temp_id_auth = item.auth_id;
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--<script>
        $(function () {
            // Handler for .ready() called.
            setTimeout(function () {
                $('table .author').each(function () {
                    var timg = $('img', this)
                    var tname = $('.name', this).text()
                    //tname = tname.replace(/'/g, '').replace(/(\w+).*/, "$1").replace(' ', '')
                    tname = tname.split(/\s+/).slice(1)[0]
                    $.ajax({
                        method: "GET",
                        async: false,
                        url: "https://api.genderize.io/?name=" + tname + "&country_id=id"
                    })
                      .done(function (genderize) {
                          console.log(genderize.gender)
                          gender = genderize.gender == null ? 'male' : genderize.gender
                          $.ajax({
                              method: "GET",
                              async: false,
                              url: "https://api.randomuser.me/?gender=" + gender
                          })
                            .done(function (msg) {
                                $(timg).attr("src", msg.results[0].picture.large)
                            });
                      });
                })
            }, 500);
            });
    </script>-->
