@{
    ViewBag.Title = "Search results";
}

<h3>Search results</h3>
<p>Your search keyword "@ViewBag.keyword"</p>

@using IRCI.Models;
@model List<RecordsAuthor>

<div class="row">
    <div class='col col-sm-6' style='padding-top:10px;padding-right:0;'>
        <div class='panel panel1'>

            <table class='table'>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="author" onclick="document.location = '/profile/index/1';" style="cursor: pointer;">
                            <td rowspan="3"> <img src='~/Content/img/user2-160x160.jpg' height='150px' width='150px'></td>
                            <td width='300px'><strong class="name">@item.author</strong></td>
                            <td><button type="button" class="btn btn-xs btn-primary btn-block">Claim</button></td>
                        </tr>
                        <tr>
                            <td>@item.department</td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(function () {
            // Handler for .ready() called.
            setTimeout(function () {
                $('table .author').each(function () {
                    var timg = $('img', this)
                    var tname = $('.name', this).text()
                    tname = tname.replace(/'/g, '').replace(/(\w+).*/, "$1").replace(' ', '')
                    $.ajax({
                        method: "GET",
                        async: false,
                        url: "https://api.genderize.io/?name=" + tname + "&country_id=id"
                    })
                      .done(function (genderize) {
                          console.log(genderize.gender)
                          gender = genderize.gender == null ? 'male' : genderize.gender
                          $.ajax({
                              method: "GET",
                              async: false,
                              url: "https://api.randomuser.me/?gender=" + gender
                          })
                            .done(function (msg) {
                                $(timg).attr("src", msg.results[0].picture.large)
                            });
                      });
                })
            }, 500);
        });
    </script>