@{
    ViewBag.Title = "Search results";
    var id_auth = Session["id"];
    var temp_id_auth = "";
}

<h3>Search results</h3>
<p>Your search keyword "@ViewBag.keyword"</p>

@using IRCI.Entity;
@model List<E_Authors>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                        <div class="col-sm-12">
                            <table id="datatable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr>
                                        <th width="200px">Author Name</th>
                                        <th>Affiliation</th>
                                        <th width="110px">Claim</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            var klaimlink = "";
                                            if (item.auth_id != temp_id_auth || item.auth_id == "")
                                            {
                                                if (id_auth != null)
                                                {
                                                    if (item.auth_id == id_auth.ToString())
                                                    {
                                                        klaimlink = "-";
                                                    }
                                                    else if (item.auth_id == "")
                                                    {
                                                        klaimlink = "/c_profile/claim/?id_authors=" + item.id_authors + "&" + "auth_id=" + id_auth.ToString();
                                                    }
                                                    else
                                                    {

                                                    }
                                                }
                                                if (item.department.Contains(";"))
                                                {
                                                    string[] departements = item.department.Split(';');
                                                    item.department = departements[0];
                                                }
                                                <tr>
                                                    <td><a href="/c_profile/show/@item.id_authors"><p class="nama">@item.author</p></a></td>
                                                    <td>@item.department</td>
                                                    <td align="center">
                                                        @if (klaimlink.Contains("/c_profile"))
                                                        {
                                                            <a href="@klaimlink" class="btn btn-primary">Klaim</a>
                                                        }else if (klaimlink != "-" && id_auth==null)
                                                        {
                                                            <p>Silahkan Login dahulu</p>
                                                        }
                                                        else
                                                        {
                                                            <p>Sudah diklaim</p>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                            temp_id_auth = item.auth_id;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
    $(document).ready(function () {
        $('#datatable').DataTable();
        //dt.order([2, 'desc']).draw()
    });
    </script>